<div class="container" align="center">
    <h1>Dice Roll Game</h1>
    
    <button type="button" class="btn btn-primary" (click)="rollDices()">Roll Dice</button>
    
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          
            @switch (dice1) {
                @case (1) {
                    
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 1</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\1.jpg">
                            </div>
                          </div>
            
                    </div>
                }
                @case (2) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 1</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\2.png">
                            </div>
                          </div>
            
                    </div>
                }
                @case (3) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 1</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\3.jpg">
                            </div>
                          </div>
            
                    </div>
                }
                @case (4) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 1</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\4.jpg">
                            </div>
                          </div>
            
                    </div>
                }
                @case (5) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 1</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\5.webp">
                            </div>
                          </div>
            
                    </div>
                }
                @case (6) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 1</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\6.png">
                            </div>
                          </div>
            
                    </div>
                }
            }
            
          
        </div>
        <div class="col-sm-6">
          
            @switch (dice2) {
                @case (1) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 2</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\1.jpg">
                            </div>
                          </div>
            
                    </div>
                }
                @case (2) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 2</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\2.png">
                            </div>
                          </div>
            
                    </div>
                }
                @case (3) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 2</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\3.jpg">
                            </div>
                          </div>
            
                    </div>
                }
                @case (4) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 2</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\4.jpg">
                            </div>
                          </div>
            
                    </div>
                }
                @case (5) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 2</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\5.webp">
                            </div>
                          </div>
            
                    </div>
                }
                @case (6) {
                    <div>
                        <div class="card" style="width: 18rem;">
                            <h4>Dice 2</h4>
                            <div class="card-body">
                              <img height="100px" width="100px"  src="..\assets\img\6.png">
                            </div>
                          </div>
            
                    </div>
                }
            }
          
        </div>
      </div>
      </div>